*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App-header{
  position: relative;
  background-color: #61A0E2;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  height: 100px;
  width: 100px;
}

.links{
  width: 200px;
  height: 100px;
}

.logo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li{
  margin: 10px;
  color: #61A0E2;
}

.navbar a {
  text-decoration: none;

}