*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App-header{
  position: relative;
  background-color: #61A0E2;
  width: 100%;
  height: 100px;
  display: flex;
}

.logo{
  height: 100px;
  width: 100px;
  background-color: wheat;
}

.links{
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
}