*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App-header{
  position: relative;
  background-color: #61A0E2;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  height: 100px;
  width: 100px;
}

.links{
  width: 200px;
  height: 100px;
  display: flex;
}

.logo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
  margin-top: 30px;
}
.navbar h3 {
  color: #61A0E2;

}

.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.navbar li{
  margin: 10px;
  border: 1px solid #61A0E2;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: #61A0E2;
}

.navbar li:hover{
  color: white;
  background-color: #61A0E2;
}