*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

  margin-bottom: 80px;
}
*::selection {
  background-color: #1d76bb;
  color: white;
}
html{
  font-family: 'Roboto', sans-serif;
}

.App-header{
  position: relative;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.logo{
  height: 100px;
  width: 100px;
  margin-right: 300px;
}

.links{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img{
  width: 100px;
  height: 100px;

}

.navbar{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
  margin-top: 30px;
  background-color: #f8f7f7;
}
.navbar h3 {
  color: #61A0E2;

}

.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}


.nav-li{
  margin: 10px;
  border: 1px solid #61A0E2;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color:  #1d76bb;
}

.navbar li:hover{
  color: white;
  background-color:  #1d76bb;
}

.instagram{
  color: #595959;
  font-size: 30px;
}

.facebook{
  color: #595959;
  font-size: 30px;
}

.linkedin{
  color: #595959;
  font-size: 30px;
}
.container{
  margin: 0 auto;
  max-width: 1140px;
}

.vazhdimi-pyetja1{
  background-color: #f8f7f7;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.flex-1{
  display: flex;
  justify-content:space-around;
}

.flex-2{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.choices{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.image-choice{
  margin: 0 auto;
  margin-top: 40px;
}
.img{
  width: 200px;
  box-shadow: 7px 3px 10px rgba(0,0,0,.3);
  margin-bottom: 10px;
}

.flex-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.tre-kater{

  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  
}
#p3{
  width: 50%;
}

.pes-gjashte{
max-width: 1120px;
margin: 0 auto;
margin-top: 30px;
display: flex;
}

#p5{
  width: 50%;
}

.shtate{
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
}
.aplikacion{
  max-width: 1120px;
  margin: 0 auto;

}

textarea {
  resize: none;
width: 100%;
height: 200px;
outline: none;
border-radius: 6px;
padding: 10px;
}

.submit-app{
  max-width: 1120px;
  margin: 0 auto;
  background-color: #f8f7f7;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-content: space-between;
}

.left input{
margin-bottom: 10px;
width: 200px;
padding: 6px 8px;
border-radius: 5px;
outline: none;
border: 1px solid gray;
}

.left input[type="submit"]{
  color: white;
  background-color:  #1d76bb;
  border: none;
}
.left p {
  margin-bottom: 20px;
}

.tete{
  max-width: 1120px;
  margin: 0 auto;
  background-color: #f8f7f7;
  margin-top: 30px;
}
.checkboxes-choice{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.flex-check1{
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.flex-check2{
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.flex-check3{

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}
.web-marketing{
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 20px;
}


/* Switch 4 Specific Style Start */


.input_wrapper{
  width: 80px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"]{
  width: 80px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #595959;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.input_wrapper input[type="checkbox"]:after{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #dfeaec;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.input_wrapper svg{
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 1;
}

.input_wrapper .is_checked{
  width: 18px;
  left: 18%;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.input_wrapper .is_unchecked{
  width: 15px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #1d76bb;
}

.input_wrapper input[type="checkbox"]:checked:after{
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}

/* Switch 4 Specific Style End */

.nenta{
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 20px;
}

.dhjeta {
  max-width: 1120px;
  margin:0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.eleven {
  max-width: 1120px;
  margin:0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.eleven-right{
  margin-right: 85px;

}

.twelve {
  max-width: 1120px;
  margin:0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.twelve-right{
  margin-right: 70px;
}

.thirteen{
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
}


.submit-web{
  max-width: 1120px;
  margin: 0 auto;
  background-color: #f8f7f7;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.website-form{
  max-width: 1120px;
  margin: 0 auto;
}

.active{
  background-color: #1d76bb;
  color: white;
}